.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 57px;
  margin: 0 auto;
  background: url("../Assets/sky.jpeg") center fixed;
  background-size: cover;
}

h1 {
  font-family: serif;
  font-size: 33px;
  margin: 30px 0px;
  color: rgb(156, 16, 168);
  text-align: center;
}

.input-div {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  gap: 35px;
}

.star {
  margin: auto;
  width: 50px;
  border: 1px solid #636369;
  border-radius: 10px;
  padding: 40px;
  text-align: center;  
  font-size: 30px;
}

.options-container {
  display: flex;
  justify-content: center;
  width: fit-content;
  min-width: 300px;
  width: -moz-fit-content;
  position: relative;
  gap: 20px
}

.option{
	position:relative;
	text-align:center;
	width:70px;
	height:70px;
	border-radius:74% 82% 70% 88%;	
	padding:20px;
	background-color:rgba(255,255,255,.9);
	cursor:pointer;
	z-index:1;
	transition:.5s;
	color:#b620c4;
}
.option:before,
.option:after{
	content:'';
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:-1;
	animation:RotateDiv 5s linear infinite;
}
.option:before{
	border-radius:130% 151% 189% 166%;
	background-color:rgba(255,255,255,.7);
	animation-delay:0s;
	transition:.5s;
}
.option:after{
	border-radius:145% 86% 80% 90%;
	background-color:rgba(255,255,255,.3);
	animation-delay:.2s;
	transition:.5s;
}
.option:hover{
	background-color:rgba(200, 151, 218, 0.8);
	color:#fff;
}
.option:hover:after{
	background-color: rgba(191, 125, 204, 0.7);
}
.option:hover:before{
	background-color: rgba(195, 138, 212, 0.3);
}
.option div{
	vertical-align:middle;
  font-size: 27px;
}
@keyframes RotateDiv{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}
.check-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #b882b9;
  font-size: large;
  font-weight: 600;
  border-radius: 8px;
  color: #fff;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.check-button:enabled {
  border: 1px solid rgb(20, 36, 26);
  background-color: #d21fd8;
}

.check-button:enabled:hover {
  box-shadow: 0px 0px 10px rgb(0, 54, 22);
}


@keyframes drop-animation {
  0% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
